@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Rock+Salt&display=swap");

body {
  background-color: #fcfbfb;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  background-color: rgba(20, 30, 13, 0.7);
}

#logo_link {
  padding-top: 5px;
}

.logo {
  width: 80px;
}

nav a {
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
  padding: 35px;
  display: inline-block;
}

nav a:hover {
  background-color: #000000;
  color: #d9c2a3;
}

#hero-img {
  width: 100%;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

.home-title {
  font-family: "Rock Salt", "Bradley Hand", cursive;
  font-size: 2em;
  color: #000000;
  margin-top: 10px;
}

h4 {
  color: #000000;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

#background {
  height: 725px;
  background-color: #d9c2a3;
}

.book,
.join {
  background-color: #0f4f7e;
  color: #fcfbfb;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
  display: inline-block;
}

.book:hover,
.join:hover {
  background-color: #d9c2a3;
  color: #000000;
}

.card-img {
  border: 10px solid #d9c2a3;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}

.msg {
  background-color: #ffffff;
  color: #000000;
  padding: 35px;
  line-height: 1.5em;
}

.msg h2 {
  color: #000000;
}

.msg p {
  color: #000000;
  font-size: 0.8em;
  padding-bottom: 15px;
}

footer {
  background-color: rgba(20, 30, 13, 0.9);
  color: #fcfbfb;
  padding: 25px 50px;
  margin-top: 200px;
}

footer a {
  color: #fcfbfb;
  text-decoration: none;
}

footer a:hover {
  color: #d9c2a3;
}

footer p {
  font-size: 1.2em;
  margin: 8px 0;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  width: 32px;
  height: auto;
  padding-top: 15px;
}